body {
    background-color: #f5f5f5;
}

.dashboard {
    width: 90%;
    position: absolute;
    top: 15%;
    left: 8%;
}

.student-analytics h3 {
    color: #666;
}

/* analytics */
.container-analytics-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-analytics-box .analytics-box {
    width: 440px;
    height: 180px;
    margin: 5px;
    padding: 24px;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-analytics-box .analytics-box:first-child {
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.container-analytics-box .analytics-box:nth-child(2) {
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}

.container-analytics-box .analytics-box:last-child { 
    background-image: linear-gradient(315deg, #233329 0%, #63d471 74%);
}

.container-analytics-box .analytics-box .analytics-icon {
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-left: 30px;
    font-size: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.container-analytics-box .analytics-data {
    font-size: 19px;
    color: #f5f5f5;
}

/* recently added */
.recents {
    margin-top: 64px;
}

.recents h3 {
    color: #666;
}

.recents .recents-box .recents-title {
    font-size: 19px;
    font-family: sans-serif;
    margin-top: 17px;
}

.recents .recents-box .activity-msg-box {
    cursor: pointer;
}

.recents .recents-box .activity-msg-box .activity-msg {
    display: flex;
    justify-content: space-between;
}

.recents .recents-box .activity-msg-box .activity-msg .activity-msg-btns {
    margin-right: 8%;
}

.recents .recents-box .activity-msg-box .activity-msg::after {
    border-bottom: 1px solid red;
}

.recents .recents-box .activity-msg-box .activity-msg {
    padding: 14px;
    transition: 0.4s ease-in-out;
}

.recents .recents-box .activity-msg-box .activity-msg:hover {
    background-color: #4099ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}